{% extends "header.html" %}

{% block content %}
<div class="container" style="text-align: center">
<div class="box">
                    <h1>What is Magnet?</h1>
            <p>
            Magnet is a personal read books repo. 
            Add your book in your private area, inserting the ISBN code, with any additional space/symbol.
            </p>
            <h1>Why the ISBN?</h1>
            <p>
            ISBN is unique and it identifies just one book over the world.
            </p>
            <h1>Why Magnet?</h1>
            <p>
            Magnet was originally a sentiment analysis tool: it worked using a Naive Bayes classifier, along with some NLP techniques to normalize the text as more as possible. 
            Now, it refers to the keyword exctracting features.
            Since Magnet is an opensource project, code can be found <b><a style="color:black" href="https://github.com/brunifrancesco/Bookshelf">here</b></a>.
            <br />
            </p>
            </div>
            </div>
{% endblock %}