<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<meta name="keywords" content="social, sentiment analysis">
  <meta name="author" content="Francesco Bruni">
  <meta http‐equiv="Content‐Type" content="text/html; charset=UTF‐8">
  <title>Magnet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jq.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/notify.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/autocomplete.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>            
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{STATIC_URL}}js/d3layout.js" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <a class="navbar-brand">MAGNET</a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
            </div>
            
            <div class="collapse navbar-collapse">
              
              <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/insights">Insights</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/">Private Area</a></li>
                {% else %}
                <li><a href="/signup">Signup</a></li>
                <li><a href="/">Login</a></li>
                {% endif %}
                
              </ul>
            </div>
          </nav>
          
          {% block content %}
          {% endblock %}
        </body>
        </html>
