{% extends "header.html" %}

{% block content %}
<div class="container" style="text-align: center">
	<div class="box">
		<h1>How Magnet books have been categorized?</h1>

		<h3>Categories</h3>
		{% for category in categories %}
		<p>
			<b>{{category.name}}</b>: {{category.count}}
		</p>
		{% endfor %}

		<h3>Authors</h3>
		{% for category in authors %}
		<p>
			<b>{{category.name}}</b>: {{category.count}}
		</p>
		{% endfor %}

		<h3>Tags</h3>
		{% for category in tags %}
		<p>
			<b>{{category.name}}</b>: {{category.count}}
		</p>
		{% empty %}
			No valuable tags found
		{% endfor %}
	</div>
</div>
{% endblock %}
